---
import type { HTMLAttributes } from 'astro/types';
import { getCollection } from 'astro:content';

import { Avatar, Card } from '@/components/ui';
export interface Props extends HTMLAttributes<'section'> {}
const { class: className } = Astro.props;

const EXPERIENCE = await getCollection('experience');
---

<Card class:list={[className]}>
  <h2 class="font-semibold">Work Experience</h2>

  <ul class="space-y-3">
    {
      EXPERIENCE.map(({ data: { role, company, period, initials } }) => (
        <li class="flex items-center gap-2">
          <Avatar initials={initials} name={company} class="size-10 text-xs" />

          <div class="flex-1">
            <span class="text-sm font-semibold">{role}</span>
            <p class="text-muted text-xs">
              {company} • {period}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</Card>
