---
import { SITE } from "@/constants";
import styles from "@/global.css?url";
import { getEntry } from "astro:content";
const about = await getEntry("about", SITE.ABOUT_ENTRY);
---

<head>
  <title>{about?.data.full_name} | GitHub Pages</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={about?.data.description} />
  <meta name="keywords" content={about?.data.keywords?.join(", ")} />
  <meta name="author" content="Mauro Daniel Viveros" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, follow" />

  <link rel="canonical" href={Astro.site} />

  <link rel="alternate icon" type="image/png" href="/favicon.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <link rel="preload" href={styles} as="style" />
  <link rel="stylesheet" href={styles} />
</head>
