---
import '@/global.css';

import { SITE } from '@config';
import { getCollection } from 'astro:content';
const [about] = await getCollection('about');
---

<title>{about?.data.full_name} | GitHub Pages</title>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<meta name="generator" content={Astro.generator} />
<meta name="description" content={about?.data.description} />
<meta name="keywords" content={SITE.keywords.join(', ')} />
<meta name="author" content={about?.data.full_name} />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="canonical" href={Astro.site} />
<link
  rel="alternate"
  type="application/rss+xml"
  title={`${about?.data.full_name} | RSS Feed`}
  href="/rss.xml"
/>

<link rel="alternate icon" type="image/png" href="/favicon.png" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<meta
  name="theme-color"
  media="(prefers-color-scheme: light)"
  content="#f5f9ff"
/>
<meta
  name="theme-color"
  media="(prefers-color-scheme: dark)"
  content="#0f1623"
/>
<meta name="color-scheme" content="light dark" />

<meta property="og:title" content={about?.data.full_name} />
<meta property="og:description" content={about?.data.description} />
<meta property="og:url" content={Astro.site} />
<meta property="og:type" content="website" />
<meta property="og:site_name" content={about?.data.full_name} />
{
  SITE.ogImage && (
    <>
      <meta property="og:image" content={SITE.ogImage} />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
    </>
  )
}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={about?.data.full_name} />
<meta name="twitter:description" content={about?.data.description} />
{SITE.ogImage && <meta name="twitter:image" content={SITE.ogImage} />}
