---
import { Card } from '@components';
import { Icon } from 'astro-icon/components';
import { getRepos } from 'lib/github';
const REPOS = await getRepos();
---

<!-- md:h-max  -->
<Card class="pr-0 md:col-span-3 lg:col-span-2 lg:row-span-3">
  <h3 class="font-semibold">Projects</h3>

  <ul class="overflow-y-ty flex flex-col gap-4 overflow-x-auto pr-4">
    {
      REPOS.map(({ name, description, topics, homepage, html_url }) => (
        <li class="flex items-start justify-between">
          <div class="flex flex-1 flex-col gap-1">
            <h4 class="font-semibold">{name}</h4>

            <p class="text-muted text-sm">{description}</p>

            <div class="flex flex-wrap gap-1">
              {topics.slice(0, 3).map((topic) => (
                <span class="inline-flex items-center justify-center rounded-full border px-2 py-0.5 text-xs font-medium">
                  {topic}
                </span>
              ))}
            </div>
          </div>

          <div class="flex gap-1">
            {[
              {
                url: homepage,
                icon: 'lucide:external-link',
                label: 'Live Demo',
              },
              {
                url: html_url,
                icon: 'lucide:code',
                label: 'GitHub Repository',
              },
            ]
              .filter(({ url }) => url)
              .map(({ url, icon, label }) => (
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  title={label}
                  aria-label={label}
                  class:list={[
                    'inline-flex size-8 items-center justify-center rounded-full border text-sm font-medium shadow-xs',
                    'hover:bg-primary/10',
                  ]}
                >
                  <Icon name={icon} />
                </a>
              ))}
          </div>
        </li>
      ))
    }
  </ul>
</Card>
