---
import { NETWORKS } from '@config';
import { getCollection } from 'astro:content';

import { Fork, MetaTags, Theme } from '@/components';
import { CREATOR } from '@/constants';

const [about] = await getCollection('about');

const jsonLdPerson = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: about?.data.full_name,
  jobTitle: about?.data.description,
  url: 'https://mauroviveros.github.io',
  sameAs: NETWORKS.filter((n) => n.name !== 'Email').map((n) => n.url),
  address: {
    '@type': 'PostalAddress',
    addressCountry: about?.data.country,
  },
};

const jsonLdWebSite = {
  '@context': 'https://schema.org',
  '@type': 'WebSite',
  name: `${about?.data.full_name} | GitHub Pages`,
  url: 'https://mauroviveros.github.io',
};
---

<html lang="en">
  <head>
    <MetaTags />

    <script
      type="application/ld+json"
      set:html={JSON.stringify(jsonLdPerson)}
    />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(jsonLdWebSite)}
    />

    <script is:inline>
      (function () {
        const query = window.matchMedia('(prefers-color-scheme: dark)');
        const setTheme = () =>
          document.documentElement.setAttribute(
            'data-theme',
            query.matches ? 'dark' : 'light',
          );
        query.addEventListener('change', setTheme);
        setTheme();
      })();
    </script>
  </head>
  <body
    class:list={[
      'bg-background text-foreground min-h-dvh p-4',
      'flex flex-col justify-center gap-4',
      'transition-colors duration-500',
      'container mx-auto',
    ]}
  >
    <h1 class="sr-only">{about?.data.full_name} | GitHub Pages</h1>

    <a
      href="#main"
      class="focus:bg-primary focus:text-primary-foreground sr-only focus:not-sr-only focus:absolute focus:top-2 focus:left-2 focus:z-50 focus:rounded-lg focus:px-4 focus:py-2"
    >
      Skip to content
    </a>

    <header class="text-end">
      <Fork />
      <Theme class="animate-fade-in-down animate-delay-500" />
    </header>

    <main id="main">
      <slot />
    </main>

    <footer class="animate-fade-in animate-delay-500 text-center md:text-left">
      <p class="text-muted px-4 text-sm leading-6">
        <span>Built with ❤️ </span>
        {
          about?.data.full_name !== CREATOR.name && (
            <span>
              by
              <a
                href={CREATOR.url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-foreground hover:underline"
              >
                {CREATOR.name}
              </a>
            </span>
          )
        }

        • © {new Date().getFullYear()}
        {about?.data.full_name}

        <span class="float-right">
          Last Updated: {
            new Date().toLocaleDateString('en-US', { timeZone: 'UTC' })
          }
        </span>
      </p>
    </footer>
  </body>
</html>
